#ignore all
*

#add need directory
!/day*
!/day*/**/

#add need file
!*.c
!*.cc
!*.cpp
!*.h
!*.hh
!*.hpp
!*.conf
!*.xml
!*.dat

#add Makefile
!Makefile

#add README.md
!README.md

#add .gitignore
!.gitignore

